.invoice-detail-container {
  padding-top: 15px;
}

.date-input::-webkit-datetime-edit-text {
  color: #828cc5;
  padding: 0 0.1em;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(57%) sepia(13%) saturate(1281%) hue-rotate(194deg)
    brightness(93%) contrast(83%);
  cursor: pointer;
}

.select-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.invoice-down-arrow {
  width: 10px;
  position: absolute;
  top: 20px;
  left: 300px;
  cursor: pointer;
}
