.invoice-overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.invoice-card {
  width: 340px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  overflow: scroll;
}

.content-container {
  padding: 0 10px;
  width: 100%;
  position: relative;
}

.go-back {
  display: flex;
  width: 83px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 20px;
}

.left-arrow {
  width: 10px;
}

.go-back-text {
  font-weight: bold;
  padding-top: 4px;
}

.new-invoice-text {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}

.item-list-header {
  font-size: 18px;
  font-weight: bold;
  color: #777f98;
  padding-top: 40px;
  padding-bottom: 20px;
}

.add-item {
  border-radius: 50px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #7e88c3;
  font-size: 12px;
  border: none;
  background-color: #f9fafe;
}

.gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 231, 231, 1) 53%
  );
  height: 60px;
  width: 350px;
  position: absolute;
  left: -10px;
  padding-top: 10px;
}

.filler {
  height: 60px;
}
