.payment-terms-box {
  margin-bottom: 20px;
  box-shadow: -2px 10px 13px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 0.4s;
}

.net-box {
  padding: 22px;
  border-bottom: 1px solid #dfe2fa;
}

.net-text {
  font-size: 12px;
  font-weight: bold;
  color: #0c0e16;
  cursor: pointer;
  transition: all 0.3s;
}

.net-text:active {
  color: green;
}

.net-text:hover {
  transform: scale(1.02);
  text-shadow: 2px 3px 5px rgba(124, 92, 251, 0.4);
}

.purple-text {
  color: #7c5cfb;
}
