.page-container {
  background-color: #f8f8fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-container-2 {
  padding-top: 32px;
  margin: 0 24px;
}

.status-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.lighter-text {
  color: #858bb2;
}

.smaller-text {
  font-size: 12px;
}

.bigger-text {
  font-size: 15px;
}

.darker-text {
  color: #0c0e16;
  font-weight: bold;
}

.status-text-invoicepg {
  font-size: 12px;
}

.invoice-content-container {
  width: 300px;
}
.invoice-description-container {
  width: 150px;
}

.invoice-num {
  font-weight: bold;
  font-size: 12px;
}

.description-text {
  font-size: 12px;
  padding-top: 4px;
}

.address-container {
  width: 120px;
  padding-top: 30px;
}

.address {
  line-height: 22px;
}

.invoice-date-name-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.invoice-date-payment {
  line-height: 18px;
}

.client-details {
  padding-bottom: 10px;
}

.payment-due {
  padding-top: 30px;
}

.address-pad {
  padding-top: 8px;
}

.client-name-address-container {
  line-height: 18px;
  width: 150px;
  padding-right: 40px;
}

.sent-to-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 77px;
  justify-content: space-between;
}

.margin-div {
  height: 56px;
}
