.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(101, 89, 169);
  background: linear-gradient(
    113deg,
    rgba(101, 89, 169, 0.8782201405152225) 0%,
    rgba(146, 119, 255, 0.9203747072599532) 48%
  );
  height: 100vh;
}

.login-btns-container {
  width: 300px;
  display: flex;
  padding-top: 15px;
}

.btn-container {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.big-btn {
  width: 100%;
  margin-top: 15px;
}

.bottom-text {
  padding-top: 15px;
  display: flex;
  font-size: 14px;
}

.signup-text {
  color: rgba(146, 119, 255, 0.9203747072599532);
  margin-left: 4px;
  cursor: pointer;
}
