.date-status-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 12px;
  padding: 25px 15px 25px 15px;
}

.date-due {
  color: #7f88c3;
  padding-bottom: 10px;
}

.amount {
  font-weight: bold;
  font-size: 16px;
}

/* Tablet View */

@media (min-width: 700px) {
  .date-amount-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  .date-due {
    padding: 0;
  }

  .amount-container {
    width: 120px;
    padding-left: 40px;
  }
}

/* Desktop View */

@media (min-width: 1200px) {
  .date-amount-container {
    width: 308px;
    padding: 0 20px;
  }
}
