.header-container {
  background-color: #373c53;
  display: flex;
  justify-content: space-between;
}

.profile-pic-container {
  padding: 15px;
  cursor: pointer;
}
.profile-picture {
  width: auto;
  height: 42px;
  border-radius: 50%;
  position: relative;
}

.middle-header-container {
  border-right: 1.5px solid #494e6e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-icon-container {
  width: 72px;

  display: flex;
  flex-direction: column;
  position: relative;
}

.background-div {
  height: 80%;
  width: 30%;
  background-color: #7c5cfb;
}

.light-dark-container {
  position: absolute;
  height: 76px;
  width: 60px;

  top: 0;
}
.dark-box {
  background-color: #7c5cfb;
  height: 50%;
  border-top-right-radius: 15px;
}

.light-box {
  background-color: #9277ff;
  height: 50%;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 20px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  height: 80px;
  width: 125px;
  top: 85px;
  right: 20px;
}

.logout-text {
  color: #7c5dfa;
  cursor: pointer;
  font-weight: bold;
}
