.overlay {
  width: 340.5px;
  height: 354px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(49, 49, 49, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.card {
  height: 310px;
  width: 250px;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.giphy {
  width: 180px;
  height: auto;
  padding-top: 7.5px 15px 7.5px 15px;
  align-self: center;
}

.success-message {
  color: #309d2e;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.login-instructions {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}
