.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
}

.invoice-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invoice-header {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 8px;
}

.invoice-text {
  font-size: 14px;
  color: #888eb0;
}

.dropdown-container {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-bottom: 5px;
}

.filter-text {
  color: #0c0e16;
  font-weight: bold;
  padding-right: 8px;
}

.arrow-down {
  height: 9px;
  width: auto;
  cursor: pointer;
}

.plus-circle {
  background-color: #ffffff;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.text {
  font-size: 15px;
  font-weight: bold;
}
