.line-item-container {
  background-color: #f9fafe;
  width: 300px;
  margin-top: 40px;
  padding: 15px;
  border-radius: 8px;
}

.grand-total-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 80px;
  background-color: #373c53;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.grand-total {
  display: flex;
  width: 252px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.grand-total-text {
  font-size: 11px;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
}
