.description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.design-title {
  font-size: 12px;
  font-weight: bold;
  color: #0c0e16;
}

.units-price {
  color: #7e88c3;
  font-size: 12px;
  font-weight: bold;
  padding-top: 8px;
}
