.input {
  height: 40px;
  margin-top: 15px;
  border: 1px solid #e9e9e9;
  padding-left: 6px;
  caret-color: #9b82fe;
}

.input::placeholder {
  color: #adabab;
}

.input:focus {
  outline-color: #9b82fe;
  box-shadow: 0 0 6px #9b82fe;
}

.error {
  border-color: red;
}
/* 
.loader {
  border: 3px solid #f3f3f3; 
  border-top: 3px solid #352b5d; 
  border-radius: 50%;
  display: inline-block;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
} */

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
