.status-container {
  width: 104px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.status-text {
  font-weight: bold;
}

.Paid-container {
  background-color: #f3fdfa;
}

.Paid-circle {
  background-color: #33d69f;
}

.Paid-text {
  color: #33d69f;
}

.Pending-container {
  background-color: #fff9f0;
}

.Pending-circle {
  background-color: #ff8f00;
}

.Pending-text {
  color: #ff8f00;
}

.Draft-container {
  background-color: #f4f4f5;
}

.Draft-circle {
  background-color: #373c53;
}

.Draft-text {
  color: #373c53;
}
